<!DOCTYPE html>
<html>
    <head>
        <title>{{job.title}} - Learning Careers</title>
        {% include 'bootstrap.html' %}
    </head>

    <body>
        {% include 'nav.html' %}
        {% include 'banner.html' %}
        <div class="container">
            <h1 class="text-center mt-4 mb-3">
                Learners Career
            </h1>
            <h3 class="mb-2">{{job.title}}</h3>
            <p class="lead mb-2">{{job.location}}</p>
            <h4 class="mt-3">Responsibilities</h4>
            <ul>
                {% for line in job.responsibilities.split(". ") %}
                    {% set line = line.strip() %}  <!-- Remove whitespace -->
                    {% if line %}  <!-- Skip empty lines -->
                        <li>
                            {{ line }}
                            {% if not loop.last or line[-1] != '.' %}.{% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <h4>Requirements</h4>
            <ol>
                {% for line in job.requirements.split(". ") %}
                    {% set line = line.strip() %}  <!-- Remove whitespace -->
                    {% if line %}  <!-- Skip empty lines -->
                        <li>
                            {{ line }}
                            {% if not loop.last or line[-1] != '.' %}.{% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
            <h4>Salary</h4>
            <p>{{job.currency}} {{job.salary}}</p>
            {% include 'application_form.html'%}
            {% include 'footer.html' %}
        </div>
    </body>
</html>